<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- Server Authentication -->
  <servers>
    <!-- Central Portal (New) -->
    <server>
      <id>central</id>
      <username>${env.OSSRH_USERNAME}</username>
      <password>${env.OSSRH_PASSWORD}</password>
    </server>

    <!-- Legacy OSSRH (if you're using the old system) -->
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USERNAME}</username>
      <password>${env.OSSRH_PASSWORD}</password>
    </server>

    <!-- GitHub Packages - Artagon BOM -->
    <server>
      <id>github-artagon-bom</id>
      <username>${env.GITHUB_USERNAME}</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>

    <!-- GitHub Packages - Artagon Parent -->
    <server>
      <id>github-artagon-parent</id>
      <username>${env.GITHUB_USERNAME}</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>

    <!-- GitHub Packages - Generic (for wildcards) -->
    <server>
      <id>github</id>
      <username>${env.GITHUB_USERNAME}</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>
  </servers>

  <!-- Profiles -->
  <profiles>
    <!-- OSS Release Profile -->
    <profile>
      <id>ossrh-deploy</id>

      <properties>
        <!-- GPG Configuration -->
        <gpg.executable>gpg</gpg.executable>
        <gpg.keyname>F8F6AD8CEF204A0FF71AF3EF809DB1039AA208F2</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>

        <!-- Prevent GPG from using pinentry -->
        <gpg.useagent>false</gpg.useagent>
      </properties>

      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>

    <!-- Alternative: artagon-oss-release profile -->
    <profile>
      <id>artagon-oss-release</id>

      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.keyname>F8F6AD8CEF204A0FF71AF3EF809DB1039AA208F2</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <gpg.useagent>false</gpg.useagent>
      </properties>

      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>

    <!-- Artagon GitHub Packages Profile -->
    <profile>
      <id>artagon-github</id>
      <repositories>
        <!-- Artagon BOM from GitHub Packages -->
        <repository>
          <id>github-artagon-bom</id>
          <name>Artagon BOM - GitHub Packages</name>
          <url>https://maven.pkg.github.com/artagon/artagon-bom</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

        <!-- Artagon Parent from GitHub Packages -->
        <repository>
          <id>github-artagon-parent</id>
          <name>Artagon Parent - GitHub Packages</name>
          <url>https://maven.pkg.github.com/artagon/artagon-parent</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

        <!-- GitHub Packages - Wildcard (for other Artagon packages) -->
        <repository>
          <id>github-artagon-wildcard</id>
          <name>Artagon - GitHub Packages</name>
          <url>https://maven.pkg.github.com/artagon/*</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <!-- Maven plugins from GitHub Packages if any -->
        <pluginRepository>
          <id>github-artagon-plugins</id>
          <name>Artagon Maven Plugins - GitHub Packages</name>
          <url>https://maven.pkg.github.com/artagon/*</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>

      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
    </profile>
  </profiles>

</settings>
